.header{
    /* height: 96px; */
    position: fixed;
    width: 100%;
    background-color: var(--background-color);
    z-index: 10;
    display: grid;
    place-items: center;

    .headerWrapper{
        display: flex;
        align-items: center;
        justify-content: space-between;
        gap: 20px;
        height: 90px;
        width: 90%;

        .ul{
            display: flex;
            list-style: none;
            gap: 20px;
        }
    
        .headerBtn{
            background-color: var(--btn-background-color);
        }
    }
}