
.herosection{
    margin-top: 120px;
    width: 90%;
    height: 90vh;
    display: flex;
    justify-content: space-between;
    gap: 30px;
    align-items: center;
    
    .landingsvg{
        position: absolute;
    }
    
    .herosectioncontents{
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        width: min(635px);
        gap: 40px;
        margin-top: -100px;
        position: relative;

        
        .landingsvgux{
            right: -100px;
            top: 60px;
        }
        
        .landingsvgdev{
            bottom: 60px;
            right: 0;
        }

        .herosectioncontentsh1{
            font-weight: 600;
            font-size: 56px;
            line-height: 150%;
            color: var(--text-color);

            .herosectioncontentsh1span{
                color: var( --span-color);
            }
        }

        .herosectioncontentsp{
            color: var(--ptext-color);
            font-weight: var(--ptext-weight);
            font-size: var(--ptext-size);
            width: min(600px);

            .herosectioncontentspspan{
                color: #18181B;
                font-weight: 600;
            }
        }
    }

    .herosectionimgdiv{
        width: 35%;
        position: relative;

        .landingsvgbrand{
            top: -40px;
        }

        .landingsvgui{
            bottom: 35%;
            left: -60px;
        }

        /* .herosectionimg{
            width: 100%;
        } */
    }

}