.howitworks{
    margin-top: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
    width: 90%;
    
    .howitworksheader{
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;

        .howitworksh1{
            font-weight: var(--heading-weight);
            color: var(--text-color);
            font-size: 50px;
        }

        .howitworksp{
            font-size: var(--ptext-size);
            color: var(--ptext-color);
            font-weight: var(--ptext-weight);
        }
    }

    .howitworkscontents{
        display: flex;
        justify-content: space-between;
        gap: 30px;
        
        .howitworkscontent{
            border-radius: 16px;
            background-color: white;
            width: 400px;
            padding: 24px;
            display: flex;
            flex-direction: column;
            gap: 20px;
            justify-content: space-between;
            padding-bottom: 0;
            gap: 40px;

            .howitworkscontentdiv{
                display: flex;
                flex-direction: column;
                gap: 10px;

                .howitworksh2{
                    font-weight: var(--heading-weight);
                    font-size: calc(var(--ptext-size) + 3px);
                    color: #424242;
                }

                .howitworksp{
                    font-size: 16px;
                    font-weight: var(--ptext-weight);
                    color: var(--ptext-color);
                }
            }

        }
    }
}